bitrix/backup
bitrix/cache
bitrix/managed_cache
upload
.vscode
.htaccess
.htaccess-*
.htaccess.restore
update
xml-feed
*.sass-cache*
.DS_Store
/log/
/.well-known/
/var/
*_copy

# Files
_exportLog.txt
robots.txt
import_element_log.txt
/yandex_*
/google*
/_sitemap*
/sitemap*
/zen_*
*.txt
*.conf
*.sql
*.zip
*.gz
*.gz*
*.rar
*.csv
*.log
restore.php
/0
*.php-*
*.txt_*
*.txt-*

# Sitemap
/sitemap_*
/sitemap.*

# composer
composer.phar
/vendor/

